# ========================================================================================
# Saídas dos experimentos
# ========================================================================================
checkpoints/
runs/
output-imagens/
output-relatorios/

# ========================================================================================
# Dados baixados do MNIST
# ========================================================================================
data/MNIST/
**/data/MNIST/
# ========================================================================================
# Python
# ========================================================================================
__pycache__/